@import 'variables.scss';

/* CSS RESET */
* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1.5em;
  }
  
  @include bebas();
  
  /* GENERAL STYLING */
  body {
      width: 100%;
      margin: auto;
      color: $text-color;
      background-color: $background-color;
      overflow-x: hidden;
    }

    /* Apparently overflow-x hidden works in a resized browser but not on mobile if applied to body.
    Need to have on an element inside body */
    article, footer {
      width: 100%;
      overflow-x: hidden;
    }

    h1, h2, h3, h4 {
      text-align: center;
    }
  
    p, h1, h2, h3, h4, ul, table {
      width: 70%;
      margin: auto;
      max-width: 850px;
    }
    
    h1 {
      font-family: $title;
      font-size: 3.998em;
      color: $cover-color;
      margin-bottom: $heading-margin;
    }
    
    h2 {
      font-family: $headings;
      letter-spacing: 0.03em;
      font-size: 1.999em;
      color: $cover-color;
      margin-bottom: $heading-margin;
    }

    h3 {
      font-family: $title;
      color: $cover-color;
      font-size: $fourth;
    }

    h4 {
      margin: $object-margin auto $subtext-margin auto;
    }
    
    p, p .hidden-text {
      font-family: $body-text;
      font-size: 1em;
      line-height: 1.75em;
      margin-bottom: $fourth;
    }
    
    section {
      margin-bottom: 7.5em;
    }


    blockquote {
      padding: 1em;
      width: 110%;
      p {
      font-family: $title;
      font-size: 140%;
      font-style: italic;
      color: $cover-color;
    }
    cite {
      font-family: $headings;
      font-style: normal;
      letter-spacing: 0.4px;
    }
  }

    small {
      font-size: 75%;
      font-style: italic;
    }
    
      /* PHOTOS */
    .photo {
      margin: 3em auto;
      @include shadow();
      max-width: 60em;
    }

    .object {
      display: block;
      margin: $object-margin auto;
      max-width: 70em;
    }
  
  
  /* CURSOR */
  #circle-hover {
    display: block;
    position: absolute;
    transition: all .01s linear;/*Change the time here depending on how fast the big circle should follow the cursor */
    transition: transform 0.5 ease-in-out;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    z-index: 99;
    text-align: center;
    border: 1px solid $cover-color;
    border-radius: 50%;
    transform: scale(.5);
    background: transparent;
  }
  
  #circle {
    display: block;
    position: absolute;
    margin: auto;
    width: 150px;
    height: 150px;
    margin-top: -75px;
    margin-left: -75px;
    border-radius: 50%;
    z-index: 98;
     background-color: $cover-color;
    mix-blend-mode: multiply;
    opacity: .8;
  }
  
  #cursor.on-link #circle-hover {
    transform: scale(1);
    opacity: .3;
  }
  
  .link {
    z-index: 100;
    position: relative;
    display: block;
    margin: auto;
    width: 7.5em;
    &:hover {
        cursor: pointer;
    }
  }


  /* BREAKS */
  .br {
    display: none;
  }

  div.break {
    /*background-image: url("../images/break1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: initial;
    height: 100vh;*/
    /*position: relative;*/
    /* min-height */
    position: relative;
    img.bg {
      width: 100%;
      z-index: 2;
      opacity: 0.9;
    }
  }


  /* HEADER */
  header {
    padding: 5em 0em;
    background-image: url("../img/header.png");
    background-repeat: no-repeat;
    background-size: 100%;
    p {
      font-size: 80%;
      text-align: center;
      font-style: italic;
    }
  }

  #glasses {
    width: 50%;
    opacity: 0.8;
  }
  
  
  /* INTRODUCTION */
  #intro {
    margin: 2em auto 0em auto;
  }
/*
  #img1 {
    width: 50%;
    z-index: 1;
    transform: rotate(9deg);
    margin-left: 60%;
  }*/
  
  #maori {
    position: absolute;
    width: 50%;
    z-index: 3;
    bottom: -5em;
    right: -10%;
    transform: rotate(9deg);
  }
  
  #landscape {
    position: absolute;
    z-index: 3;
    top: 0em;
    left:0em;
    width: 50%;
    transform: rotate(3deg);
  }
  
  #sightings {
    position: absolute;
    width: 50%;
    z-index: 4;
    left: 10em;
    top: 5em;
    transform: rotate(-5deg);
  }

  .b2 {
    margin-top: 3em;
  }


/* ABOUT THE TAKAHE */
.flex-wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
}

#takahe-chart {
  max-width: 40%;
  transform: rotate(-7deg);
  align-self: center;
}

.b3 {
  margin: -20em auto 2em auto;
}


/* EXTINCT */
#moa {
  transform: rotate(8deg);
  width: 35%;
}



  /* TABLE */
  caption {
    font-family: $title;
    font-size: $fourth;
    color: $cover-color;
    margin-bottom: 1em;
  }

  #wings {
    table {
      border-collapse: collapse;
      width: 50%;
      margin-top: 5em;
      /*font-variant-numeric: lining-nums tabular-nums;*/
    }

    th, td {
      padding: 1em;
      text-align: left;
      border-right: $border;
      &:nth-last-child(1) {
        border-right: none;
      }
    }

    tr {
      border-top: $border;
      &:nth-child(1) {
        border-top: none;
      }
    }
  }



  #map, #map-s {
    width: 100%;
  }

  #map-s {
    display: none;
  }

  .b4 {
    margin: -20em auto 2em auto;
  }


  /* ORBELL */
#quest .break {
  margin-top: 5em;
}

#orbell {
  position: absolute;
  z-index: 3;
  top: 0em;
  left: 0em;
  transform: rotate(-3deg);
  width: 45%;
}

#pipe {
  position: absolute;
  right: 5em;
  bottom: 15em;
  width: 40%;
  z-index: -1;
  transform: rotate(-3deg);
}

.b5 {
  margin-bottom: -10em;
}

  

/* POSTCARD TABLE */
#new-zealand {
  position: relative
}

#pc-front {
  width: 50%;
  min-width: 40em;
  transform: rotate(-10deg);
  position: absolute;
  top: 10%;
  left: 7%;
  z-index: 3;
}

#postcard {
  /*background-image: url("../images/postcard-back.png");
  background-size: contain;*/
  width: 40em;
  min-width: 40em;
  margin: auto;
  position: absolute;
  top: 30%;
  left: 40%;
  z-index: 4;
  
  img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
}

#postcard table{
  border-collapse: collapse;
  opacity: 0.7;
  position: absolute;
  top: 3em;
  left: 3.5em;
  z-index: 2;
  width: 100%;
  text-align: left;
  font-style: italic;
  caption {
    text-align: left;
    margin-bottom: $object-margin;
  }
  th {
    font-family: $title;
  }
  td {
    border-left: $border;
    padding-left: 2em;
  }
}


/* FOOTER */
#binos {
  width: 35%;
}

footer {
  margin: 5em auto 20em auto;
  font-size: 65%;
  text-align: center;
}

#stamp {
  margin-top: 3em;
  width: 7.5em;
  opacity: 0.7;
}

.b7 {
  position: absolute;
  bottom: 0;
}
  

  

    /*
    img {
      transform: rotate(5deg);
    }
    */
    
    .hidden-text {
        color: $cover-color;
    }
    
    .hidden-text::after {
      display: inline-block;
      color: $reveal-color;
      opacity: 0.5;
      font-style: italic;
      transform: translateX(-100%);
      position: absolute;
    }
    
    /*
    .hidden-text::before {
      display: inline-block;
      color: $cover-color;
      content: '‘Extinct’';
      transform: translateX(50%);
    }
    
    .hidden-text {
      margin-left: -1.75em;
      margin-right: -1.5em;
    }
    */
    
    #t-takahe::after {
        content: 'Takahe';
    }
    
    #t-takahea::after {
        content: '“wandering at large”';
    }
  
    #t-notornis::after {
      content: '“bird of the south”';
    }
  
    #t-name::after {
      content: 'Notornis hochstetteri';
  }
  
    #t-shelters::after {
      content: 'the Takahē, or Notornis';
  }
  
  #t-extinction::after {
      content: 'extinct';
  }


  
  /* TABLET */

  @media (max-width: 60em) {
    header {
      background-image: none;
    }

    .flex-wrapper {
      flex-flow: column;
      margin: auto;
      width: 80%;
    }

    /* HEADER */
    h1, h2, h3, h4 {
      width: 90%;
    }

    p {
      width: 80%;
    }


    /* PHOTOS */

    /*
    #postcard, #postcard img  {
      position: static;
      transform: rotate(0deg);
      display: block;
      margin: auto;
    }*/

    .b2 {
      width: 100%;
    }

    #maori, #landscape, #sightings {
      width: 70%;
    }

    #landscape {
      margin: 0em;
    }

    #takahe-chart{
      max-width: 70%;
    }

    .b3, .b4 {
      margin: -15em auto 2em;
    }

    #moa {
      width: 60%;
    }

    #map {
      display: none;
    }

    #map-s {
      display: block;
    }

    #orbell {
      width: 65%;
    }

    #pipe {
      bottom: -5em;
      z-index: 2;
      width: 50%;
    }

    #postcard {
      top: 3em;
      left: 7em;
    }

    #pc-front {
      top: -10%;
      left: -10%;
      z-index: -2;
    }

    #binos {
      width: 50%;
    }

    /* TABLES */
    #wings table {
      width: 80%;
    }

    /* SECTION MARGIN */
    footer {
      margin: 5em auto 10em auto;
    }
  }



  /* MOBILE */
  @media (max-width: 46em) {
    h1 {
      font-size: 3em;
    }

    h2 {
      font-size: 1.5em;
    }

    p {
      width: 90%;
    }

    #glasses {
      width: 100%;
      margin: 2em auto;
    }

    /* BREAKS */
    .br {
      display: block;
    }

    .bg, #pipe {
      display: none;
    }

    .br1 {
      margin: -6.5em auto -12em auto;
    }
    .br2 {
      margin: -6.5em auto 2em auto;
    }
    .br3 {
      margin: -18em auto 2em auto;
    }
    .br4 {
      margin: -6.5em auto -15em auto;
    }
    .br5 {
      margin: -6.5em auto -5em auto;
    }
    .br6 {
      margin: -8em auto -5em auto;
    }
    .br7 {
      margin-top: -10em;
    }

    footer {
      margin: 5em auto 0em auto;
    }

    /* PHOTOS */
    #maori, #landscape, #sightings, #orbell, #pc-front, #postcard {
      position: static;
      display: block;
      width: 100%;
    }

    #maori {
      margin-right: -3em;
      transform: rotate(5deg);
    }

    #landscape {
      margin-left: -3em;
    }

    #sightings {
      margin-right: -3em;
      margin-top: -6em;
    }

    #takahe-chart {
      max-width: 100%;
      transform: rotate(-5deg);
    }

    #moa {
      width: 90%;
      transform: rotate(5deg);
    }

    #binos {
      width: 70%;
    }

    /* POSTCARD */
    #pc-front {
      min-width: auto;
      width: 110%;
    }

    #postcard {
      min-width: auto;
          /* FINALLY FOUND YOU! MIN-WIDTH PREVENTING CENTRING*/
      img {
        display: none;
      }
      table {
        position: static;
        width: 80%;
        display: block;
        margin: auto;
        caption {
          text-align: center;
        }
        td {
          padding: 0.5em 1em;
          text-align: left;
        }
        th {
          padding: 0.5em;
          line-height: 1.5em;
        }
      }
      tr {
        border-top: $border;
        &:nth-child(1) {
          border-top: none;
        }
      }
    }

    #new-zealand h2 {
      margin-top: 1em;
    }
  }